<div class="container mt-3 w-50">
  <div class="row">
    <div class="col-5">
      <app-date-picker (dateSelected)="onDateSelected($event)"></app-date-picker>
    </div>
    <div class="col-7">
      <select class="form-select" [(ngModel)]="selectedCurrency" (ngModelChange)="getRate()">

        <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.code }}</option>
      </select>
    </div>
    <div class="col-12 mt-3">
      <div class="text-center">
        <p *ngIf="rate">1 CZK EQUALS {{ rate.value }} {{ selectedCurrency }}</p>
        <p *ngIf="!rate">NO DATA AVAILABLE</p>
      </div>
    </div>
  </div>
</div>