<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <app-date-picker (dateSelected)="onDateSelected($event)"></app-date-picker>
    </div>
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="selectedCurrency" (ngModelChange)="getRate()">
        <option value="USD" selected>Choose some currency</option>
        <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.code }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h4>Rate:</h4>
        <div>{{ rate?.value }}</div>
      </div>
    </div>
  </div>
</div>
